<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/static/fav.png" />
    <title>Macrosoft | | Cloud, Computers & Gaming</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <img src="/static/logo.jpg" />
        <a class="navbar-brand" href="#"
          >Macrosoft <sup style="color: crimson">KE</sup></a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Macrosoft 730</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Teams</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Co-driver</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Doors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Surface</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Ybox</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Deals</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Small Business</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#"
                >Support</a
              >
            </li>
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                All Macrosoft
              </button>
              <ul class="dropdown-menu">
                <li>
                  <button class="dropdown-item" type="button">Software</button>
                </li>
                <li>
                  <button class="dropdown-item" type="button">
                    PC's and Devices
                  </button>
                </li>
                <li>
                  <button class="dropdown-item" type="button">
                    Entertainment
                  </button>
                </li>
              </ul>
            </div>
            <form class="d-flex" role="search">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search Macrosoft"
                aria-label="Search"
              />
              <button class="btn btn-outline-success" type="submit">
                Search
              </button>
            </form>
            <img src="/static/signup.png" alt="" style="margin-left: 5px" />
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div id="carouselExampleDark" class="carousel carousel-dark slide">
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleDark"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="/static/spro.avif" class="d-block w-100" alt="..." />
            <div class="carousel-caption d-none d-md-block">
              <div
                class="card"
                style="
                  width: 30rem;
                  text-align: left;
                  background-color: transparent;
                  border: transparent;
                  margin-bottom: 180px;
                "
              >
                <div class="card-body">
                  <h5
                    class="card-title"
                    style="
                      display: border-box;
                      background-color: burlywood;
                      border-radius: 3px;
                      width: 150px;
                      padding-left: 5px;
                    "
                  >
                    <a href="#" style="text-decoration: none; color: black;"
                      >Back to school</a
                    >
                  </h5>
                  <p>
                    <b><h4>Surface Laptop, Copilot + PC Bundle</h4></b>
                  </p>
                  <p class="card-text">
                    Save up to $59 on an AI-powered PC with Macrosoft 730 and a
                    protection plan—plus,get 20% off select accessories.
                  </p>
                  <a href="#" class="btn btn-primary">Shop the bundle</a>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="2000">
            <img src="/static/sess.avif " class="d-block w-100" alt="..." />
            <div class="carousel-caption d-none d-md-block">
              <div
                class="card"
                style="
                  width: 30rem;
                  background-color: transparent;
                  border: transparent;
                  margin-bottom: 180px;
                  text-align: left;
                "
              >
                <div class="card-body">
                  <h5
                    class="card-title"
                    style="
                      width: 150px;
                      display: border-box;
                      border-radius: 3px;
                      background-color: chocolate;
                      padding-left: 5px;
                    "
                  >
                    <a href="#" style="text-decoration: none; color: black"
                      >Back to School</a
                    >
                  </h5>
                  <p>
                    <b><h4>Surface Laptop Pro, Copilot + PC Bundle</h4></b>
                  </p>
                  <p class="card-text">
                    Save up to $59 on the most flexible 2-in-1 out there with
                    Macrosoft 730, a protection plan, and 20% off select
                    accessories.
                  </p>
                  <a href="#" class="btn btn-primary">Shop the Bundle</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleDark"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div class="container">
        <div class="container text-center">
          <div class="row">
            <div
              class="col-md-2 col-lg-1"
              style="
                width: 11rem;
                justify-content: space-evenly;
                column-gap: 5px;
                margin-left: 150px;
              "
            >
              <img
                src="/static/Link-List-Icons-Surface-Devices.svg"
                alt=""
                style="height: 50px;"
              />
              <a href="#"
                ><h6>
                  <small style="font-size: x-small">Shop Surface Devices</small>
                </h6></a
              >
            </div>
            <div
              class="col-md-3 col-lg-2"
              style="
                justify-content: space-evenly;
                width: 15rem;
                column-gap: 5px;
              "
            >
              <img
                src="/static/Link-List-Icons-Xbox-Games-Consoles.svg"
                alt=""
                style="height: 50px;"
              />
              <a href="#"
                ><h6>
                  <small style="font-size: x-small"
                    >Shop Ybox games and consoles</small
                  >
                </h6></a
              >
            </div>
            <div
              class="col-md-3 col-lg-2"
              style="
                justify-content: space-evenly;
                width: 11rem;
                column-gap: 5px;
              "
            >
              <img src="/static/Link-List-Icon-PC.svg" alt="" style="height: 50px;" />
              <a href="#"
                ><h6>
                  <small style="font-size: x-small">Find your next PC</small>
                </h6></a
              >
            </div>
            <div
              class="col-md-3 col-lg-2"
              style="
                justify-content: space-evenly;
                width: 11rem;
                column-gap: 5px;
              "
            >
              <img src="/static/Link-List-Icons-Business.svg" alt="" style="height: 50px;"/>
              <a href="#"
                ><h6>
                  <small style="font-size: x-small"
                    >Shop for your business</small
                  >
                </h6></a
              >
            </div>
            <div
              class="col-md-3 col-lg-2"
              style="
                justify-content: space-evenly;
                width: 11rem;
                column-gap: 5px;
              "
            >
              <img
                src="/static/Link-List-Icons-Microsoft-365.svg"
                alt=""
                style="height: 50px;"
              />
              <a href="#"
                ><h6>
                  <small style="font-size: x-small"
                    >Choose your Macrosoft 730</small
                  >
                </h6></a
              >
            </div>
            <div class="col">
              <div
                class="col-md-3 col-lg-2 text-center"
                style="
                  justify-content: space-between;
                  width: 11rem;
                  column-gap: 5px;
                  margin-left: 450px;
                "
              >
                <img src="/static/Book_Icon_40x40.avif" alt="" style="height: 50px;" />
                <a href="#"
                  ><h6>
                    <small style="font-size: x-small"
                      >Back to school deals</small
                    >
                  </h6></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col" >
          <div class="container-fluid text-center">
            <div class="row" style="height: 150px;">
              <div class="col">
                <div class="card" style="width: 18rem; text-align: left;">
                  <img
                    src="/static/Content-Card-Surface-Laptop-Studio-2-CONS-M001.avif"
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body" style="height: 300px;"> 
                    <button style="border: transparent; background-color: burlywood;">
                      <a href="#" style="text-decoration: none; color: black"
                        >Back to school</a
                      >
                    </button>
                    <h5 class="card-title">
                      Up to $600 off Surface Laptop Studio 2
                    </h5>
                    <p class="card-text">
                      Some quick example text to build on the card title and
                      make up the bulk of the card's content.Ace the college
                      pace with next-level deals on the ultimate all-in-one
                      laptop. Select devices on sale now. Offer ends 8/25.
                    </p>
                    <a href="#" class="btn btn-primary" style="margin-top: 10px;"
                      >Shop Surface Laptop Studio 2</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="container-fluid text-center">
            <div class="row" style="height: 150px;">
              <div class="col">
                <div class="card" style="width: 18rem; text-align: left;">
                  <img
                    src="/static/Content-Card-Microsoft-365-Lifestyle-Sandstone-Icon-Toss.avif"
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body" style="height: 300px;">
                    <h3 class="card-title">
                      Maximize the daily with Macrosoft
                    </h3>
                    <p class="card-text">
                      Get online protection, secure cloud storage, and
                      innovative apps designed to fit your needs—all in one
                      plan.
                    </p>
                    <a href="#" class="btn btn-primary" style="margin-top: 60px;">For 1 person</a><br />
                    <a href="#" style="text-decoration: none"
                      >For up to 6 people ></a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="container-fluid text-center">
            <div class="row" style="height: 150px;">
              <div class="col">
                <div class="card" style="width: 18rem; text-align: left;">
                  <img
                    src="/static/gldn-XSX-CP-Xbox-Series-X.avif"
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body" style="height: 300px;">
                    <h5 class="card-title">Ybox Series Z</h5>
                    <p class="card-text">
                      The fastest, most powerful Ybox ever
                    </p>
                    <a href="#" class="btn btn-primary" style="margin-top: 160px;">Shop Ybox series Z</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="container-fluid text-center">
            <div class="row" style="height: 150px;">
              <div class="col">
                <div class="card" style="width: 18rem; text-align: left;">
                  <img
                    src="/static/Content-Card-Game-Pass-Ultimate.avif"
                    class="card-img-top"
                    alt="..."
                  />
                  <div class="card-body" style="height: 300px;">
                    <h5 class="card-title">Ybox Game Pass Ultimate</h5>
                    <p class="card-text">
                      Play new games on day one. Plus, enjoy hundreds of
                      high-quality games with friends on console and PC.
                    </p>
                    <a href="#" class="btn btn-primary" style="margin-top: 110px;">Join now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container" style="margin-top: 350px; border: transparent;">
      <div class="card">
        <img
          src="/static/Highlight-MultiCanvas-Microsoft-Copilot-App-3screens_VP4-1260x600.avif"
          class="card-img"
          alt="..."
        />
        <div class="card-img-overlay" style="margin-top: 180px; text-align: left; text-wrap: wrap; width: 18rem;">
          <h5 class="card-title" style="color: black">
            <b>Unlock your potential with Macrosoft Co-driver</b>
          </h5>
          <p class="card-text" style="color: black">
            Get things done faster and unleash your creativity with the power of
            AI anywhere you go.
          </p>
          <button style="border: transparent; background-color: cornflowerblue">
            <a href="#" style="text-decoration: none; color: black"
              >Download the Co-Driver app</a
            >
          </button>
        </div>
      </div>
    </div>
    <div class="container-fluid" style="margin-top: 100px">
      <p style="font-size: 2rem;"><b>For Business</b></p>
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 19rem;">
              <img
                src="/static/Content-Card-Surface-Laptop-7-Pro-11-Platinum-Black-MB001.avif"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body" style="height: 350px; text-align: left; padding: 25px;">
                <button
                  class="card-title"
                  style="
                    border: transparent;
                    background-color: gold;
                    color: black;
                  "
                >
                  New
                </button>
                <h5 class="card-title">Co-Driver + PC's for business</h5>
                <p class="card-text">
                  Surface Pro for Business and Surface Laptop for Business
                  unlock new AI-accelerated features like Windows Studio
                  Effects.
                </p>
                <button style="border: transparent; padding-top: 10px;">
                  <a href="#" style="color: black; text-decoration: none"
                    >Pre-Order surface pro for business</a
                  >
                </button>
                <a href="#" style="text-decoration: none"
                  >Pre-order surface laptop for business ></a
                >
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
              <img
                src="/static/Content-Card-Visual-Studio-Icon.webp"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body" style="height: 350px; text-align: left;">
                <h5 class="card-title">Visual Studio 2022</h5>
                <p class="card-text">
                  Get the most comprehensive IDE for .NET and C++ developers on
                  Windows for building web, cloud, desktop, mobile apps,
                  services, and games.
                </p>
                <a href="#" class="btn btn-primary" style="margin-top: 130px;"
                  >Download Visual Studio 2022</a
                >
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
              <img
                src="/static/Content-Card-Copilot-Commercial.avif"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body" style="height: 350px; text-align: left;">
                <h5 class="card-title">Co-Driver for Macrosoft 730</h5>
                <p class="card-text">
                  Save time and focus on the things that matter most with AI in
                  Microsoft 365 for business.
                </p>
                <a href="#" class="btn btn-primary" style="margin-top: 150px;">Learn More</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
              <img
                src="/static/Content-Card-Windows-11-Business.jpg"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body" style="height: 350px; text-align: left;">
                <h5 class="card-title">Windows 11 for business</h5>
                <p class="card-text">
                  Designed for hybrid work. Powerful for employees. Consistent
                  for IT. Secure for all.
                </p>
                <a href="#" class="btn btn-primary" style="margin-top: 170px;">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid" style="margin-top: 80px">
      <p style="font-size: 2rem;"><b>Explore more about AI and Co-Driver</b></p>
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 25rem">
              <img
                src="/static/Content-Card-WorkLab-Use-Case-By-Function-Platform.avif"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body" style="text-align: left; height: 250px;">
                <h5 class="card-title">
                  Five ways to use Co-Driver in the workplace
                </h5>
                <p class="card-text">
                  Discover innovative prompts for real work scenarios shared by
                  Copilot users across various industries—from product
                  development to marketing and more.
                </p>
                <a href="#" class="btn btn-primary">Explore the prompts</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 25rem">
              <img
                src="/static/Content-Card-AI-Email-Overload.avif"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body" style="text-align: left; height: 250px;">
                <h5 class="card-title">Tame your inbox with AI</h5>
                <p class="card-text">
                  Combat email overload with Copilot in Outlook. Discover how it
                  can summarize email threads, highlight key action items, write
                  first drafts, and more.
                </p>
                <a href="#" class="btn btn-primary" style="margin-top: 35px;"
                  >Manage your inbox with Co-Driver</a
                >
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 25rem">
              <img
                src="/static/Content-Card-AI-Quiz-2-Magenta.avif"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body" style="text-align: left; height: 250px;">
                <h5 class="card-title">Where's your AIQ at work?</h5>
                <p class="card-text">
                  Take the quiz and learn how AI is changing the way we
                  work—from industries that are embracing AI to power users who
                  are reshaping the workday.
                </p>
                <a href="#" class="btn btn-primary" style="margin-top: 35px;">Test your AIQ</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid" style="margin-top: 100px;">
        <div
          id="carouselExampleRide"
          class="carousel slide"
          data-bs-ride="true"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div
                class="card w-90 mb-3"
                style="
                  background-color: transparent;
                  border: transparent;
                  justify-self: end;
                "
              >
                <div class="carousel-caption">
                  <div class="card-body">
                    <h5 class="card-title">Rythms of the Rainforest</h5>
                    <p class="card-text">
                      Explore how bioacoustics technology and AI are
                      transforming our understanding of the Amazon and creating
                      innovative solutions for conservation.
                    </p>
                    <a href="#" class="btn btn-primary"
                      >Learn about AI and bioucoustics</a
                    >
                  </div>
                </div>
                <img
                  src="/static/Highlight-Sustainability-AI-Bioacoustics-Scarlet-Macaw_VP4-1260x600.avif"
                  class="d-block w-100"
                  alt="..."
                />
              </div>
            </div>
            <div class="carousel-item">
              <img
                src="/static/Highlight-Copilot-Creator-Images_VP4-1260x600.avif"
                class="d-block w-100"
                alt="..."
              />
              <div class="carousel-caption" style="color: black;">
                <h4>And in walked trouble...</h4>
                <p>Using their vivid imaginations and Copilot, creators from around the world constructed unique story plots and AI-generated imagery inspired by an iconic movie line.</p>
                <button style="border: transparent; background-color: darkblue;"></button>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleRide"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <p>follow Macrosoft <img src="/static/Facebook 2x.avif" alt="" style="height: 40px;"> <img src="/static/icon-MSCOM-X-64x64.avif" alt="" style="height: 40px;"> <img src="/static/Linkedin 2x.avif" alt="" style="height: 40px;"></p>
    </div>
    <div>
      <button style="position: sticky;"><a href="#Home" style="text-decoration: none; color: black;">Back to top</a></button>
    </div>
    <div class="container text-center">
      <div class="row">
        <div class="col" style="text-align: left;line-height: 30px;">
           <p style="font-size: 1.5rem;">What's new</p>
          <div style="text-align: left;">
              <a href="#" style="text-decoration: none;color: black;">Surface Pro</a><br>
              <a href="#" style="text-decoration: none;color: black;">Surface Laptop</a><br>
              <a href="#" style="text-decoration: none;color: black;">Surface Laptop Studio 2</a><br>
              <a href="#" style="text-decoration: none;color: black;">Surface Laptop Go 3</a><br>
              <a href="#" style="text-decoration: none;color: black;">Macrosoft Co-Driver</a><br>
              <a href="#" style="text-decoration: none;color: black;">AI in Doors</a><br>
              <a href="#" style="text-decoration: none;color: black;">Explore Macrosoft products</a><br>
              <a href="#" style="text-decoration: none;color: black;">Doors 11 apps</a><br>
            </div>    
        </div>
        <div class="col" style="text-align: left;line-height: 30px;">
          <p style="font-size: 1.5rem;">Macrosoft store</p>
          <div>
            <a href="#" style="text-decoration: none;color: black;">Account Profile</a><br>
            <a href="#" style="text-decoration: none;color: black;">Download Center</a><br>
            <a href="#" style="text-decoration: none;color: black;">Macrosoft Store Support</a><br>
            <a href="#" style="text-decoration: none;color: black;">Returns</a><br>
            <a href="#" style="text-decoration: none;color: black;">Order Tracking</a><br>
            <a href="#" style="text-decoration: none;color: black;">Certified Refuebished</a><br>
            <a href="#" style="text-decoration: none;color: black;">Macrosoft Store Promise</a><br>
            <a href="#" style="text-decoration: none;color: black;">Flexible Payments</a><br>
          </div>
        </div>
        <div class="col" style="text-align: left;line-height: 25px;">
          <p style="font-size: 1.5rem;">Education</p>
          <div>
            <a href="#" style="text-decoration: none;color: black;">Macrosoft in education</a><br>
            <a href="#" style="text-decoration: none;color: black;">Devices for education</a><br>
            <a href="#" style="text-decoration: none;color: black;">Macrosoft Teams for education</a><br>
            <a href="#" style="text-decoration: none;color: black;">Macrosoft 730 for education</a><br>
            <a href="#" style="text-decoration: none;color: black;">How to buy for your school</a><br>
            <a href="#" style="text-decoration: none;color: black;">Educator training and development</a><br>
            <a href="#" style="text-decoration: none;color: black;">Deals for students and parents</a><br>
            <a href="#" style="text-decoration: none;color: black;">Azure for students</a><br>
          </div>
        </div>
        <div class="col" style="text-align: left;line-height: 30px;">
          <p style="font-size: 1.5rem;">Business</p>
          <div>
            <a href="#" style="text-decoration: none;color: black;">Macrosoft Cloud</a><br>
            <a href="#" style="text-decoration: none;color: black;">Macrosoft Security</a><br>
            <a href="#" style="text-decoration: none;color: black;">Dynamic 730</a><br>
            <a href="#" style="text-decoration: none;color: black;">Macrosoft 730</a><br>
            <a href="#" style="text-decoration: none;color: black;">Macrosoft Power Platform</a><br>
            <a href="#" style="text-decoration: none;color: black;">Macrosoft Teams</a><br>
            <a href="#" style="text-decoration: none;color: black;">Co-Driver for Macrosoft 730</a><br>
            <a href="#" style="text-decoration: none;color: black;">Small business</a><br>
          </div>
        </div>
        <div class="col" style="text-align: left;line-height: 30px;">
          <p style="font-size: 1.5rem;">Developer & IT</p>
          <div>
            <a href="#" style="text-decoration: none;color: black;">Azure</a><br>
            <a href="#" style="text-decoration: none;color: black;">Developer Center</a><br>
            <a href="#" style="text-decoration: none;color: black;">Documentation</a><br>
            <a href="#" style="text-decoration: none;color: black;">Macrosoft Learn</a><br>
            <a href="#" style="text-decoration: none;color: black;">Macrosoft Tech Community</a><br>
            <a href="#" style="text-decoration: none;color: black;">Azure Marketplace</a><br>
            <a href="#" style="text-decoration: none;color: black;">Appsource</a><br>
            <a href="#" style="text-decoration: none;color: black;">Visual Studio</a><br>
          </div>
        </div>
        <div class="col" style="text-align: left;line-height: 30px;">
          <p style="font-size: 1.5rem;">Company</p>
          <div>
            <a href="#" style="text-decoration: none;color: black;">Careers</a><br>
            <a href="#" style="text-decoration: none;color: black;">About Macrosoft</a><br>
            <a href="#" style="text-decoration: none;color: black;">Company News</a><br>
            <a href="#" style="text-decoration: none;color: black;">Privacy at Macrosoft</a><br>
            <a href="#" style="text-decoration: none;color: black;">Investors</a><br>
            <a href="#" style="text-decoration: none;color: black;">Diversity and inclusion</a><br>
            <a href="#" style="text-decoration: none;color: black;">Accessibilty</a><br>
            <a href="#" style="text-decoration: none;color: black;">Sustainability</a><br>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <footer>
        <a href="#" style="text-decoration: none;color: black;">English (United States)</a>
      </footer>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
